{% for instance in object_list %}
    {% if forloop.last and page_obj.has_next %}
        <div class="col"
             hx-get="{% if forloop.last %}{% url "movie-list" %}?page={{ page_obj.number|add:1 }}{% endif %}"
             hx-trigger="revealed"
             hx-swap="afterend">{% include "movies/partials/movie_card.html" with object=instance %}</div>
    {% else %}
        <div class="col">
        {% endif %}
        {% include "movies/partials/movie_card.html" with object=instance %}
    </div>
{% endfor %}
